* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000000;
    color: #f5f5f7;
    overflow-x: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    z-index: 100;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    font-weight: 700;
    font-size: 1.2rem;
    color: #fff;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #bcbcbc;
    font-weight: 600;
    transition: 0.3s;
    background: transparent;
    padding: 5PX;
    border-radius: 2px;
}

.nav-links a:hover,
.nav-links a.active {
    color: #000000;
    padding: 5PX;
    border-radius: 2px;
    background: white;
}

.talk-btn {
    background: linear-gradient(90deg, #e48aff, #b3a3ff);
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    color: #1a1a1d;
}

.menu-icon {
    display: none;
    font-size: 26px;
    color: white;
    cursor: pointer;
}


/* Contact Section */
.contact{
    margin-top: 80px;
}
.contact-section {
    flex: 3;
    background-color: #111626;
    border-radius: 15px;
    padding: 30px;
}

.contact-section h1 {
    color: #00aaff;
    margin-bottom: 10px;
}

.intro {
    color: #ccc;
    margin-bottom: 30px;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

/* Contact Form */
.book{
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000000;
}
.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    background-color: #0b0f19;
    color: #fff;
    font-size: 15px;
    outline: none;
}




.Whatsappbtn {
    background-color: #00aaff;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #0088cc;
}

/* Contact Info */
.contact-info h2 {
    color: #00aaff;
    margin-bottom: 15px;
}

.contact-info p {
    margin-bottom: 10px;
    color: #ccc;
}


/* loader container */
#loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background: #0b0b0b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.loader-logo img{
    width: 150px;
    object-fit: contain;
    margin-bottom: 25px;
}
/* Spinner animation */
.spinner{
    width: 70px;
    height: 70px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-top: 4px solid #0095e0;
    border-bottom: 4px solid #0095e0;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    margin-bottom: 15px;
    box-shadow: 0 0 10px #0095e0;
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}
/* text under .spinner */
#loader{
    color: #ccc;
    font-size: 14px;
}

/* main content (hidden until loader) */
#content{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease;
    text-align: center;
    margin-top: 150px;
}

/* fade out animation when page loads */
.loader #loader{
    opacity: 0;
    visibility: hidden;
}
.loader #content{
    opacity: 1;
    visibility: visible;
}

/* Animation */
/* .fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
} */



/* ===== CONTACT SECTION ===== */
.contact {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 70px 10%;
    background: #0c0c0c;
}

.contact-info {
    flex: 1 1 350px;
}

.contact-info h4 {
    color: #00aaff;
    font-weight: 600;
    margin-bottom: 8px;
    letter-spacing: 1px;
}

.contact-info h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.contact-info span {
    color: #00aaff;
}

.contact-info p {
    line-height: 1.8;
    color: #ccc;
}

.contact-details {
    margin-top: 25px;
    line-height: 1.8;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 28px;
    background: #25d366;
    color: #111;
    font-weight: 600;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.1s;
}

.btn:hover {
    background: transparent;
    color: #ffffff;
    box-shadow: 0 0 25px #25d366, inset 0 0 5px #25d366;
    transform: translateY(-3px);
}

/* ===== CONTACT FORM ===== */
.contact-form {
    flex: 1 1 400px;
    background: #111;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 10px #00aaff;
}

.contact-form h2 {
    color: #00aaff;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 15px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    font-size: 1rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 1px solid #00e6e6;
}



/* ===== WHATSAPP FLOAT BUTTON ===== */
.whatsapp-float {
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 25px;
    right: 25px;
    background: #25d366;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    z-index: 1000;
}

.whatsapp-float img {
    width: 32px;
    height: 32px;
}

.whatsapp-float:hover {
    background: #1ebe57;
    transform: scale(1.1);
}

/* ===== FOOTER ===== */
footer {
    background: #0a0a0a;
    padding: 60px 8% 20px;
    text-align: center;
    color: #ccc;
    border-top: 2px solid rgba(0, 230, 230, 0.1);
}

.footer-content h3 {
    font-size: 1.6rem;
    color: #00aaff;
    margin-bottom: 10px;
}

.footer-content p {
    max-width: 500px;
    margin: 0 auto 20px;
    font-size: 0.9rem;
}


.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 15px;
    margin-top: 20px;
    font-size: 0.85rem;
    color: #777;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .sidebar,
    .contact-section {
        width: 100%;
    }

    .contact-grid {
        grid-template-columns: 1fr;
    }

    .contact-info,
    .contact-form {
        text-align: center;
    }
    .contact-form{
        padding: 5px;
    }
}
/* Responsive */
@media (max-width: 768px) {
    .nav-links {
    display: none;
    flex-direction: column;
    background: #1a1a1d;
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00aaff;
    }

    .menu-icon {
    display: block;
    }

    .hero-section {
    flex-direction: column;
    align-items: center;
    }
}